*{
    background-image: url("blue-background-and-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 35px;
    color: azure;
}
.query{
    padding: 10px;
    margin: 50px;
    border: 5px solid black;
    background-image: linear-gradient(rgb(80, 205, 246), rgb(114, 238, 114));
    border-radius: 10px;
    width: 25%;
}
.query h2{
    background-image: none;
}
.query p{
    background-image: none;
}
.query a{
    background-image: none;
}
.fa-brands{
    background-image: none;
    color: deepskyblue;
}
.fa-brands:hover{
    font-size: 55px;
    color: blueviolet;
}